.list_container {
  width: 50%;
  margin: auto;
}

.list_item {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bcc2c0;
  color: #312d2d;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5em;
  border-bottom: 2px solid rgb(121, 104, 104);
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}

.icon_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 20%;
  font-size: 24px;
}

.icon {
  padding: 0.3rem;
}

.icon:hover {
  border-radius: 50%;
  background-color: #858686;
  color: #fff;
}

.line_through {
  text-decoration: line-through;
}

.warning_text {
  text-align: center;
  margin-top: 2rem;
  color: red;
  font-size: 22px;
  font-weight: 600;
}

.todo_input {
  background-color: #bcc2c0;
  outline: none;
  border: none;
  font-size: 1.5rem;
  text-transform: capitalize;
  width: 100%;
}

.todo_input_edit {
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 100%;
}
